<!DOCTYPE html>
<html lang="en-GB">
<head>
    @@warning
    <title>Wizerati</title>
    <meta name="author" content="Ben Aston">
    <meta name="copyright"
          content="Copyright Ben Aston 2014. All rights reserved. Unauthorized duplication prohibited.">
    <style>@@css</style>
    <noscript>
        <link rel="stylesheet" type="text/css" href="stylesheets/noscript.css">
    </noscript>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152.png">
</head>
<body data-ui-mode="-1" data-are-transitions-enabled="false" data-modal="-1">
<div class="modal-container main-container" data-visibility-mode="0">
    <div class="search-panel" data-mode="0">
        <div class="centered-text handle-search-panel btn-container handle-element">
            <form method="POST" action="/searchpanelmode/update?mode=0">
                <input type="hidden" name="mode" value="0">
                <button id="btn-update-search-panel-mode" class="btn btn-40 btn-primary handle-element" title="show search & bookmarks">
                    &#xf264;</button>
                <label class="handle-search-panel-label handle-element label" for="btn-update-search-panel-mode">show
                    search &amp; bookmarks</label>
            </form>
        </div>
        <div id="search-form">
        </div>
        <!-- fav cube goes here -->
        <div class="navbar">
            <a class="btn-my-account" href="/user/show?id=userid">sign in</a> &nbsp;|&nbsp; <a
                    href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a> <span class="legal"><span
                        class="legal-logo">&#xf30c;</span> wizerati &copy; 2014</span>
        </div>
    </div>
    <article class="result-list-panel ios-scroll-enable">
        <div class="result-list-search-summary-container">
            <div>345 results for "Dssnnsbns, London"</div>
        </div>
        <ul class="result-list"></ul>
    </article>
    <div class="items-of-interest-panel">
        <div id="selected-item-container-1" class="selected-item-container"></div><div id="selected-item-container-2" class="selected-item-container"></div>
        <div class="pinned-items-container">
            <div class="handle-pinned-items btn-container"><a href="/itemsofinterestpanelmode/update?mode=1"
                                                              class="btn btn-primary btn-40">&#xf264;</a>

                <div class="label"></div>
            </div>
        </div>
    </div>
    <h1 class="logo">wizerati</h1>

    <h2 class="tag-line">UK IT contract job search</h2></div>
<div class="background-container">
    <div class="background-image">&#xf30c;</div>
</div>
<div class="loading-container">
    <div class="loading"></div>
</div>

<div id="apply-to-contract-dialog" class="modal modal-full-screen">
    <div class="apply-to-contract-dialog-content-panel-container">
        <div class="modal-content-panel">
            <div id="dialog-panel-sign-in-or-register">
                <h1>Apply Online</h1>

                <div class="message-container">
                    <p>You are applying for the job <strong class="job-title"></strong>.</p>

                    <div class="sign-in">
                        <form id="frm-action-item-modal-sign-in" method="POST" action="/session/create">
                            <p>Sign-in below, or <a href="#">continue and register as part of applying to this job</a>.
                            </p>
                            <p class="error-message">The username or password you have entered is incorrect.</p>
                        <span class="field-and-metadata-container">
                        <input id="email-address" class="field" type="email" name="email-address"
                               placeholder="email address"/>
                        <label for="email-address" class="meta-info">e.g. example@example.com</label>
                        </span>
                            <input id="password" class="field" type="password" placeholder="password" name="name"/>
                        </form>
                    </div>
                </div>
                <div class="form-button-container">
                    <div class="rotating-button-container centered-text">
                        <form method="POST" action="/applytocontractdialog/destroy">
                            <button id="btn-search" tabindex="1" class="btn btn-40 btn-neutral btn-rotating"
                                    data-is-waiting="false"></button>
                            <span class="focus-indicator"></span><span class="button-icon">cancel</span>
                        </form>
                    </div>

                    <div class="rotating-button-container centered-text">
                        <button id="btn-search" form="frm-action-item-modal-sign-in" tabindex="1"
                                class="btn btn-40 btn-success btn-rotating" data-is-waiting="false"></button>
                        <span class="focus-indicator"></span><span class="button-icon">sign-in</span>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="register">-->
        <!--<h1>register</h1>-->
        <!--<label for="name">My name is: </label>-->
        <!--<input id="name" class="field" type="text" name="name" placeholder="my name is"/>-->
        <!--<label for="register-email-address">Email address: </label>-->
        <!--<input id="register-email-address" class="field" type="text" name="email-address" placeholder="email address"/>-->
        <!--<label for="register-email-address" class="meta-info">e.g. example@example.com</label>-->

        <!--<label for="register-email-address2">Type it again:</label>-->
        <!--<input id="register-email-address2" class="field" type="text" name="email-address2" placeholder="re-type email address"/>-->
        <!--<label for="register-email-address2" class="meta-info">An email will be sent to this email address, so it should be correct.</label>-->
        <!--<input id="password" class="field" type="password" placeholder="password" name="name"/>-->
        <!--<label for="password" class="meta-info">must be at least 6 characters long</label>-->
        <!--<label for="password2">Type it again: </label>-->
        <!--<input id="password2" class="field" type="password" placeholder="re-type password" name="name"/>-->

        <!--<div class="form-button-container">-->
        <!--<input type="button" class="btn btn-80 btn-cancel" value="&#xe805;"/>-->
        <!--<input type="button" class="btn btn-80 btn-success" value="&#xe807;"/>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<script type="text/template" data-template-uri="./template-server/contract/templates/search-form.html-local">
   <% try {
var rate = model.getRate();
var keywords = model.getKeywords();
%><form name="search-form" action="/search" method="GET">
        <h2 class="search-form-title">Search IT contract jobs</h2>
        <div class="search-fields">
            <input type="search" id="keywords" name="keywords" <%= keywords ? "value='" + keywords + "'" : "''" %> class="field" required placeholder="my skills (e.g. ruby) and / or location" autocorrect="off" autocapitalize="none" tabindex="1">
        </div>
        <div class="search-filters">
            <span>minimum daily rate (gbp)</span>
            <table>
                <tbody><tr>
                    <td>
                        <input id="r250" name="r" type="radio" value="250" tabindex="1" <%= rate ? rate === "250" ? "checked='checked'" : ""  : "checked='checked'" %>>
                        <label for="r250">250</label>
                    </td>
                    <td>
                        <input id="r350" name="r" type="radio" value="350" tabindex="1" <%= rate ? rate === "350" ? "checked='checked'" : ""  : "checked='checked'" %>>
                        <label for="r350">350</label>
                    </td>
                    <td>
                        <input id="r450" name="r" type="radio" value="450" tabindex="1" <%= rate ? rate === "450" ? "checked='checked'" : ""  : "" %>>
                        <label for="r450">450</label>
                    </td>
                    <td>
                        <input id="r550" name="r" type="radio" value="550" tabindex="1" <%= rate ? rate === "550" ? "checked='checked'" : ""  : "" %>>
                        <label for="r550">550</label>
                    </td>
                    <td>
                        <input id="r650" name="r" type="radio" value="650" tabindex="1" <%= rate ? rate === "650" ? "checked='checked'" : ""  : "" %>>
                        <label for="r650">650</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="r300" name="r" type="radio" value="300" tabindex="1" <%= rate ? rate === "300" ? "checked='checked'" : ""  : "" %>>
                        <label for="r300">300</label>
                    </td>
                    <td>
                        <input id="r400" name="r" type="radio" value="400" tabindex="1" <%= rate ? rate === "400" ? "checked='checked'" : ""  : "" %>>
                        <label for="r400">400</label>
                    </td>
                    <td>
                        <input id="r500" name="r" type="radio" value="500" tabindex="1" <%= rate ? rate === "500" ? "checked='checked'" : ""  : "" %>>
                        <label for="r500">500</label>
                    </td>
                    <td>
                        <input id="r600" name="r" type="radio" value="600" tabindex="1" <%= rate ? rate === "600" ? "checked='checked'" : ""  : "" %>>
                        <label for="r600">600</label>
                    </td>
                    <td>
                        <input id="r700" name="r" type="radio" value="700" tabindex="1" required="required" <%= rate ? rate === "700" ? "checked='checked'" : ""  : "" %>>
                        <label for="r700">700</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="inline-block width-62 search-button-container centered-text">
            <div class="rotating-button-container centered-text">
                <button type="submit" id="btn-search" tabindex="1" class="btn btn-40 btn-primary btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="button-icon">search</span>
            </div>
        </div>
    </form>
<%
} catch(e) {
throw "template exception: search-form. " + e;
}%>

</script>
<div class="build">( @@build )</div>
<div id="no-script">
    <div class="no-script-content">
        <div class="center-content">
            <div class="logo-image"></div>
            <h1>JavaScript is required.</h1>

            <p>To use Wizerati, enable JavaScript in your browser and try again.</p>
        </div>
        <footer>Copyright &copy; Wizerati 2014. All rights reserved. ( @@build )</footer>
    </div>
</div>
@@warning
@@javascript
</body>
</html>
